server:
  port: 9000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/card
    driverClassName: org.postgresql.Driver
    username: sandou
    password: '@jcgomis'
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true